* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-container1{
  background-image: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}
